html,body
  height: 100%
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif
html,body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
  margin: 0
  padding: 0
  border: 0
ul
  list-style: none
a
  text-decoration: none
textarea
  font-family: sans-serif
#app
  height: 100%